/* Menu */

.menu {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
  align-items: center; 
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  z-index: 1;
}

#menuIconLink{
  display: flex;
  width: fit-content;
}
  
#menuIcon{
  width: 150px;
}


.menuOptionsClient{
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.menuOptionsClient a{
  display: flex;
  justify-content: center;
  width: 100%;
}

.menuMobileOptionsClient{
  display: none;
}

#cart{
  width: 55%;
}

#profile{
  width: 40%;
}

 /* Responsividade  */

@media (min-width: 1400px) {
  .menu {
    height: 200px;
  }

  #menuIcon{
    width: 150px;
  }   
}

@media (min-width: 1940px) {
  #menuIcon{
    width: 150px
  }
}

@media (min-width: 2000px) {
  .menuSearch{
    width: 35%;
    padding: 8px;
  }
}

@media (min-width: 3100px) {
  #menuIcon{
    width: 150px
  }
  #cart{
    margin-right: 60%;
    width: 60%;
  }
  #profile{
    width: 50%;
  }
  .menuSearch img {
    margin-left: 1%;
  }
  .menuSearch input::placeholder{    
    font-size: 250%;
  } 
  .menuSearch input{
      margin-top: 1%;
      padding: 15px;
  } 
  #menuDescription{
      font-size: 25px;
  }
}

@media (max-width: 900px) {
  #menuIcon {
    width: 150px;
  }
  .menuDropDown{
    display: none;
  }
  #cart {
    width:35%;
    margin-right:20%;
  }
  #profile {
    width: 25%;
  }
  .menuSearch{
    width: 70%;
    height: 40px;
  }
  .menuOptionsClient{
    margin-left: 5%;
  }
  .menuSearch img{
    width: 6%;
    margin-left: 3%;
  }
  .menuSearch input::placeholder{
    font-size: 120%;
  } 
  .menuSearch input{
    margin-top: 2%;
    padding: 10px;
  } 
}

@media (max-width: 640px) {
  .menuOptionsClient{
    margin-left: 5%;
  }
}

@media (max-width: 560px) {
  .menuOptionsClient{
    display: none;
  }
  .menuMobileOptionsClient{
    width: 100%;
    margin-top: 50%;
    display: flex;
    box-shadow: 0 1px 3px rgb(0 0 0 / 24%);
    justify-content: space-around;
  }
  .menuSearch{
    margin-right: 10%;
  }
  .menuSearch input{
    font-size: 80%;
  } 
}

@media (max-width: 400px) {
  .menuSearch{
    width: 70%;
    margin-right: 5%;
  }
  #menuIcon {
    width: 150px;
  }
  .menuSearch img{
    width: 8%;
  }
  .menuSearch input::placeholder{
    font-size: 100%;
  } 

  .menuContainer {
    justify-content: center;
  }
}