/* Configurações inicias */
a {
    text-decoration: none;
}

:root {
    --red-color:#AD1814;
  }

#dropDownButtonFirst{
    text-decoration: none;
    color: black;
}

#dropDownButtonFirst:hover{
    color: white;
}
  
.dropDrownButton{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.dropDrownButton:hover{
    background-color: var(--red-color);
}

/* As duas classes abaixos são do boostrap, estou apenas desativando alguns recursos para estilizar nosso botão */

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color:var(--red-color);
    border-color: red;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}